In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import sqlalchemy

In [2]:
print("sqlalchemy version", sqlalchemy.__version__)
print("Pandas Version", pd.__version__)

sqlalchemy version 2.0.35
Pandas Version 2.2.2

In [3]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 1.4 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [56]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in /home/kabiromohd/anaconda3/lib/python3.9/site-packages (1.4.32)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.35-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 56 kB/s  eta 0:00:01
Requirement already satisfied: greenlet!=0.4.17 in /home/kabiromohd/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/kabiromohd/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (4.12.2)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.32
    Uninstalling SQLAlchemy-1.4.32:
      Successfully uninstalled SQLAlchemy-1.4.32
Successfully installed sqlalchemy-2.0.35

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-16 23:53:23--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T225323Z&X-Amz-Expires=300&X-Amz-Signature=7693ba103c8383329d0da4b8bfce5ae6b9014951ec198465baa30233b5204306&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-16 23:53:24--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T225323Z&X-Amz-Expires=300&X-Amz-Signature=7693ba103c8383329d0da4b8bfce5ae6b9014951ec198465baa30233b5204306&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  1.37MB/s    in 7.5s

2025-01-16 23:53:33 (1.05 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-16 23:53:40--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T225341Z&X-Amz-Expires=300&X-Amz-Signature=ddd6dbc37b13ff665d6cee995cda44c974de09a51ea17c8cad0a4a5d25763e9c&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-16 23:53:41--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T225341Z&X-Amz-Expires=300&X-Amz-Signature=ddd6dbc37b13ff665d6cee995cda44c974de09a51ea17c8cad0a4a5d25763e9c&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.01s

2025-01-16 23:53:43 (840 KB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [3]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')
df.head()

/tmp/ipykernel_5848/1640194487.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv.gz')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [4]:
df.shape

(476386, 20)

In [7]:
import os
import argparse

from time import time

import pandas as pd
from sqlalchemy import create_engine



user = 'root'
password = 'root'
host = 'localhost' 
port = 5432
db = 'ny_taxi'
table_name ='green_tripdata_oct'
csv_name = 'green_tripdata_2019-10.csv.gz'

#engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

df = next(df_iter)

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df.to_sql(name=table_name, con=engine, if_exists='append')


while True: 

    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 15.877 second
inserted another chunk, took 15.567 second

/tmp/ipykernel_5848/424895599.py:39: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 18.500 second
inserted another chunk, took 10.751 second
Finished ingesting data into the postgres database

In [9]:
df2 = pd.read_csv('taxi_zone_lookup.csv')
df2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df2.shape

(265, 4)

In [11]:
user = 'root'
password = 'root'
host = 'localhost' 
port = 5432
db = 'ny_taxi'
table_name ='taxi_zone'
csv_name = 'taxi_zone_lookup.csv'

#engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

df = next(df_iter)


df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df.to_sql(name=table_name, con=engine, if_exists='append')


while True: 

    try:
        t_start = time()

        df = next(df_iter)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

Finished ingesting data into the postgres database

## QUESTION QUERY

In [ ]:
--Up to 1 mile
select count(trip_distance) as trip_count
FROM green_tripdata_oct
WHERE trip_distance <= 1;

-- In between 1 (exclusive) and 3 miles (inclusive)
select count(trip_distance) as trip_count
FROM green_tripdata_oct
WHERE trip_distance > 1 and trip_distance <= 3;


-- In between 3 (exclusive) and 7 miles (inclusive),
select count(trip_distance) as trip_count
FROM green_tripdata_oct
WHERE trip_distance > 3 and trip_distance <= 7;

-- In between 7 (exclusive) and 10 miles (inclusive)
select count(trip_distance) as trip_count
FROM green_tripdata_oct
WHERE trip_distance > 7 and trip_distance <= 10;

-- Over 10 miles
select count(trip_distance) as trip_count
FROM green_tripdata_oct
WHERE trip_distance > 10;

## QUESTION 4 QUERY

In [ ]:
-- QUESTION 4
select trip_distance, lpep_pickup_datetime
FROM green_tripdata_oct
WHERE trip_distance = (SELECT MAX(trip_distance) FROM green_tripdata_oct);